spec-api/src/main/resources/META-INF/oauth-providers.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="providers">
  <xs:complexType>
    <xs:choice minOccurs="1">
      <xs:element name="provider">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="consumer">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="secret" type="xs:string" use="required" />
                  <xs:attribute name="callback" type="xs:anyURI" use="optional" default="oob" />
                </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="realm" type="xs:anyURI" use="required"/>
          <xs:attribute name="signatureMethod" use="optional" default="HmacSHA1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Plaintext" />
                <xs:enumeration value="RsaSHA1" />
                <xs:enumeration value="HmacSHA1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="location" use="optional" default="Header">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Header" />
                <xs:enumeration value="Query" />
                <xs:enumeration value="Body" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="accessTokenPath" type="xs:anyURI" use="required"/>
          <xs:attribute name="requestTokenPath" type="xs:anyURI" use="required"/>
          <xs:attribute name="authenticatePath" type="xs:anyURI" use="optional"/>
          <xs:attribute name="authorizePath" type="xs:anyURI" use="optional"/>
          <xs:attribute name="responseParserClass" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>
</xs:schema>